Source: libtc77
Section: libraries
Priority: extra
XBSC-Group: Sensors
XBSC-Subgrout: Temperature
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libtc77
Architecture: all
Description: TC77 library
 Microchip's TC77 temperature sensor is a tiny (SOT-23)
 temperature monitor chip with a simple serial interface.
 It features a low-power sleep mode making it ideal for
 battery powered devices.
